[Unit]
Description=New Tab Stats Collector
After=default.target

[Service]
Type=simple
ExecStart=%h/.config/tridactyl/newtab/stats.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
